body{
    color: #6E6D7A;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
}

.container-fluid{
    padding: 10px 25px;
}
.btn-size{
    height: 10px;
    width: 10px;
    margin: 5px;
}

.like{
    height: 10px;
    width: 10px;
}
.check-outs{
    font-weight: 600;
    text-align: center;
    width: 100%;
    
}
.dropdown{
    text-decoration: none;
}

.heading{

    margin: auto;
    text-align: center;
}

/* .dropdown{
    text-decoration: none;
    display: inline-block;
    
} */
.nav-item{
    font-size: 13px;
    font-weight: 600;
}


.btn{
    background-color: #FF007F;
}


.profile{
    height: 31.99px;
    width: 31.99px;
    border-radius: 50%;
    
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

.social-media-links{
    height: 30px;
    width: 30px;
    display: inline;
}
.h6{
    color: black;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background:#E4E2E2 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid black;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:black;
}
#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:black;
}
#footer ul.social li a:hover{
	color:black;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

